<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top navbar-global navbar-foodclass" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar" data-navbar-home-value="<%= action_name == "home"%>">
  <div class="container">
    <%= link_to "Réserver un cours", courses_path, class:"navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= link_to "FoodClass.", root_path, class:"title-navbar" %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item mx-5 navbar-link">
          <%= link_to "Communauté", posts_path, class: "nav-link navbar-foodclass link-community", 'data-action': "click->transition#show"%>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mon profil", my_profile_path, class: "dropdown-item" %>
              <%= link_to "Mes prochains cours", upcoming_participations_participations_path, class: "dropdown-item" %>
              <%= link_to "Mes cours favoris", favorites_participations_path, class: "dropdown-item" %>
              <%= link_to "Mes cours passés", past_participations_participations_path, class: "dropdown-item" %>
              <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item mx-5 navbar-link">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link navbar-foodclass link-community" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
